<div id="body_container">
  <!-- <h1>Alex's Projects</h1> -->

  <div id="about_me">
    I am a junior web developer.
  </br>
    I love games.
  </br>
    I don't feel like writing anything else right now.
  </div>

  <div id="project_collection">
    <% @projects.each do |project| %>
      <div class="project_block" id="<%= project.id_name %>">
        <%= image_tag "#{project.image_url}", class: "image_thumb", :data => { :name => project.name, :message => project.description } %>
        <br>
        <%= link_to project.name, project.url %>
      </div>
    <% end %>
  </div>

  <div id="social_media">
    <!-- Social Media Block -->
  </div>

</div>

<div id="textbox">
  Click a picture to learn more...
</div>