<div id="body_container">

  <div id="status">
    Status:
    <br>
    <%= image_tag "alex_pixelated.png", id: "portrait" %>

    <div id="character_screen">
      Skills:
      <br>
      Ruby on Rails
      <br>
      HTML
      <br>
      CSS
      <br>
      JavaScript
      <br>
      jQuery
      <br>
      <br>
      Other Languages:
      <br>
      Japanese
      <br>
      Mandarin Chinese
    </div>
  </div>

  <div id="project_collection">
    <% @projects.reverse.each do |project| %>
      <div class="project_block" id="<%= project.id_name %>">
        <%= image_tag "#{project.image_url}", class: "image_thumb", :data => { :name => project.name, :message => project.description } %>
        <br>
        <%= link_to project.name, project.url %>
      </div>
    <% end %>
  </div>

</div>

<div id="textbox">
  <div id="about_me">
    Hi! My name is Alex, and I am a junior full-stack web developer. I recently completed General Assembly's Web Development Immersive program, and am now looking for an internship or full-time position to solidify my skills.
    </br>

    </br>
    Apologies for the lack of an 8-bit self-portrait!
  </div>

  <div id="directions">
    Click a picture to learn more about a project. Then, click the name to visit the site.
  </div>
</div>